/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input,
select {
    font-size: 100%;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
    font-size: 16px;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
    overflow: hidden;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: auto
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: auto;
}

/* Message Styles */

.message {
    margin-bottom: 16px;
    width: auto;
    max-width: 300px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 6px 10px;
    min-width: 100px;
    position: relative;
    box-sizing: border-box;
}


.message.sender {
    float: right;
    clear: both;
    text-align: left;
    background-color: cornsilk;
}

.message.sender:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 0px solid grey;
    border-left: 0px solid grey;
    bottom: 12px;
    right: -6px;
    margin-left: 60px;
    content: '';
    transform: rotate(45deg);
    background-color: cornsilk;
}

.message.receiver {
    float: left;
    clear: both;
    text-align: left;
    background-color: darkgray;
}

.message.receiver:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 0px solid grey;
    border-right: 0px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    bottom: 12px;
    left: -67px;
    margin-left: 60px;
    content: '';
    transform: rotate(45deg);
    background-color: darkgray;
}

.message_image img {
    width: 200px;
    height: 200px;
}

.message.sender.pngimage:after,
.message.receiver.pngimage:after {
    position: absolute;
    width: 10px;
    height: 10px;
    border: none;
    bottom: 12px;
    right: -6px;
    margin-left: 60px;
    transform: rotate(45deg);
    background-color: unset;
}

.message.sender.pngimage .message_image img,
.message.receiver.pngimage .message_image img {
    width: 100px !important;
    height: 100px !important;
}

.message.sender.pngimage,
.message.receiver.pngimage {
    background-color: unset !important;
    border: none !important;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 52px;
}

.btn {
    font-weight: bold;
    cursor: pointer;
    background: #7C5CBF;
    border: none;
    color: white;
    transition: background .3s ease;
}

.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.message.admin {
    float: none;
    clear: both;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
    background-color: lightgreen;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 10px;
    display: block;
    text-align: right !important;
    clear: both
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 0px 24px;
}

#isUserstyping_container {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 0px 24px;
}

#isUserstyping_container div {
    display: inline-block;
}

div#wave {
    position: relative;
    text-align: center;
    width:30px;
    margin-left: 3px;
}

div#wave .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 1px;
    background: #303131;
    animation: wave 1.3s ease-in-out infinite;
}

div#wave .dot:nth-child(2) {
    animation-delay: 0.2s;
}

div#wave .dot:nth-child(3) {
    animation-delay: -1.5s;
}



.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
    text-transform: uppercase;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

@media only screen and (max-width: 768px) {


    .chat__sidebar {
        width: 30%;
    }

    .chat__main {
        width: 70%;
    }

    .compose {
        display: block;
        flex-shrink: 0;
        margin-top: 8px;
        padding: 4px;
    }

    #send-location {
        display: none;
    }

    .compose form {
        display: flex;
        flex-grow: 1;
        margin-right: 4px;
    }

    .compose input {
        width: 100%;
        padding: 12px;
    }

    .compose button {
        font-size: 14px;
    }

    /* Chat Sidebar Styles */

    .room-title {
        font-size: 16px;
        padding: 8px;
    }

    .list-title {
        font-size: 16px;
        margin-bottom: 4px;
        padding: 4px;
    }

    .users {
        padding: 8px;
    }


    .centered-form {
        height: 600px;
    }

    .upload-btn-wrapper {
        width: 76px;
    }

}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}
@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-5px);
	}
}